{% extends "baseindex.html" %}

{% block content %}
	<div>
		<h1>Contact</h1>
		<p class="lead">lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here.</p>
		<p class="lead">lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here. lorem ipsom and some dummy text goes here.</p>
	</div>
{% end %}